In [ ]:
import pandas as pd

In [ ]:
개인_도아 = pd.read_clipboard()

In [ ]:
개인_도아

In [ ]:
개인_키코 = pd.read_clipboard()

In [ ]:
개인_키코

In [ ]:
개인_채채 = pd.read_clipboard()

In [ ]:
개인_채채

In [ ]:
개인_리호 = pd.read_clipboard()

In [ ]:
개인_리호

In [ ]:
A팀_린 = pd.read_clipboard()

In [ ]:
A팀_린

In [ ]:
A팀_벨라 = pd.read_clipboard()

In [ ]:
A팀_벨라

In [ ]:
A팀_스텔라 = pd.read_clipboard()

In [ ]:
A팀_스텔라

In [ ]:
A팀_슈리 = pd.read_clipboard()

In [ ]:
A팀_슈리

In [ ]:
C팀_피터 = pd.read_clipboard()

In [ ]:
C팀_피터

In [ ]:
C팀_메이미 = pd.read_clipboard()

In [ ]:
C팀_메이미

In [ ]:
C팀_헤이즐 = pd.read_clipboard()

In [ ]:
C팀_헤이즐

In [ ]:
크루즈팀_케빈 = pd.read_clipboard()

In [ ]:
크루즈팀_케빈

In [ ]:
크루즈팀_셀리나 = pd.read_clipboard()

In [ ]:
크루즈팀_셀리나

In [ ]:
N팀_셀리나 = pd.read_clipboard()

In [ ]:
N팀_셀리나

In [ ]:
N팀_케빈 = pd.read_clipboard()

In [ ]:
N팀_케빈

In [ ]:
N팀_키코 = pd.read_clipboard()

In [ ]:
N팀_키코

In [ ]:
N팀_도아 = pd.read_clipboard()

In [ ]:
N팀_도아

In [ ]:
N팀_메이미 = pd.read_clipboard()

In [ ]:
N팀_메이미

In [ ]:
N팀_벨라 = pd.read_clipboard()

In [ ]:
N팀_벨라

## 데이터 전처리

In [42]:
N팀_벨라.columns

Index(['날짜', '고객명', '연락처', '수신거부자', '기존통화자', '구매 제품', '고객 유형', '시도 시점', '콜 컨셉',
       '콜 성공 여부', '1차 시도', '2차 시도', '3차 시도', '통화시간'],
      dtype='object')

In [43]:
cols = ['날짜', '연락처', '구매 제품', '1차 시도', '콜 성공 여부', '통화시간']

In [44]:
N팀_벨라[cols]

             날짜            연락처      구매 제품  1차 시도  콜 성공 여부   통화시간
0    2023-08-16  010-2511-8162  판토모나하이퍼포머   True     True   93.0
1    2023-08-16  010-8745-6792  판토모나하이퍼포머   True    False    NaN
2    2023-08-16  010-4948-0900  판토모나하이퍼포머   True     True   16.0
3    2023-08-16  010-9001-8533  판토모나하이퍼포머   True     True   34.0
4    2023-08-16  010-8866-9734  판토모나하이퍼포머   True     True   96.0
..          ...            ...        ...    ...      ...    ...
129  2023-08-21  010-8627-5230  판토모나하이퍼포머   True     True   34.0
130  2023-08-21  010-5374-4983  판토모나하이퍼포머   True    False    NaN
131  2023-08-21  010-2276-5920  판토모나하이퍼포머   True     True  154.0
132  2023-08-21  010-3730-2066  판토모나하이퍼포머   True    False    NaN
133  2023-08-21  010-2317-6802  판토모나하이퍼포머   True     True  130.0

[134 rows x 6 columns]

In [45]:
df_list = [

    개인_도아[cols],
    개인_키코[cols],
    개인_채채[cols],
    개인_리호[cols],
    A팀_린[cols],
    A팀_벨라[cols],
    A팀_스텔라[cols],
    A팀_슈리[cols],
    C팀_피터[cols],
    C팀_메이미[cols],
    C팀_헤이즐[cols],
    크루즈팀_케빈[cols],
    크루즈팀_셀리나[cols],
    N팀_셀리나[cols],
    N팀_케빈[cols],
    N팀_키코[cols],
    N팀_도아[cols],
    N팀_메이미[cols],
    N팀_벨라[cols]
]

In [46]:
df_all = pd.concat(df_list, ignore_index=True)

In [49]:
df_all

              날짜            연락처      구매 제품 1차 시도 콜 성공 여부   통화시간
0     2023-06-21  010-9018-2528      써큐시안1  True    True   48.0
1     2023-06-21  010-4104-8850      써큐시안1  True    True   40.0
2     2023-07-07  010-2463-2393      써큐시안1  True    True   86.0
3     2023-07-07  010-5445-9249      써큐시안1  True    True   67.0
4     2023-07-07  010-4246-0305      써큐시안1  True    True   52.0
...          ...            ...        ...   ...     ...    ...
5930  2023-08-21  010-8627-5230  판토모나하이퍼포머  True    True   34.0
5931  2023-08-21  010-5374-4983  판토모나하이퍼포머  True   False    NaN
5932  2023-08-21  010-2276-5920  판토모나하이퍼포머  True    True  154.0
5933  2023-08-21  010-3730-2066  판토모나하이퍼포머  True   False    NaN
5934  2023-08-21  010-2317-6802  판토모나하이퍼포머  True    True  130.0

[5935 rows x 6 columns]

In [60]:
df_all.loc[df_all['1차 시도'] == True, 'try_yn'] = 'y'
df_all.loc[df_all['1차 시도'] != True, 'try_yn'] = 'n'

In [62]:
df_all.loc[df_all['콜 성공 여부'] == True, 'success_yn'] = 'y'
df_all.loc[df_all['콜 성공 여부'] != True, 'success_yn'] = 'n'

In [91]:
df_all.loc[df_all['구매 제품'].str.contains('써큐시안'), 'nick'] = '써큐시안블러드케어'
df_all.loc[df_all['구매 제품'].str.contains('판토모나맨'), 'nick'] = '판토모나남성용'
df_all.loc[df_all['구매 제품'].str.contains('판토모나레이디'), 'nick'] = '판토모나여성용'
df_all.loc[df_all['구매 제품'].str.contains('판토모나하이퍼포머'), 'nick'] = '판토모나하이퍼포머'
df_all.loc[df_all['구매 제품'] == '판토모나', 'nick'] = '판토모나하이퍼포머'

In [88]:
df_all.tail(60)

,날짜,연락처,구매 제품,1차 시도,콜 성공 여부,통화시간,try_yn,success_yn,nick
5875,2023-08-18,010-8817-9514,판토모나맨,True,True,35.0,y,y,판토모나남성용
5876,2023-08-18,010-8961-9977,판토모나맨,True,True,152.0,y,y,판토모나남성용
5877,2023-08-18,010-2667-7918,판토모나맨,True,False,NaN,y,n,판토모나남성용
5878,2023-08-18,010-8564-1356,판토모나맨,True,True,34.0,y,y,판토모나남성용
5879,2023-08-18,010-9985-3868,판토모나맨,True,False,NaN,y,n,판토모나남성용
5880,2023-08-18,010-8987-4658,판토모나맨,True,True,18.0,y,y,판토모나남성용
5881,2023-08-18,010-3300-4796,판토모나레이디,True,True,117.0,y,y,판토모나여성용
5882,2023-08-18,010-8907-7806,판토모나레이디,True,True,120.0,y,y,판토모나여성용
5883,2023-08-18,010-2519-3028,판토모나레이디,True,True,22.0,y,y,판토모나여성용
5884,2023-08-18,010-2702-0342,판토모나레이디,True,True,109.0,y,y,판토모나여성용
5885,2023-08-18,010-2299-8689,판토모나레이디,True,True,37.0,y,y,판토모나여성용
5886,2023-08-18,010-4015-6152,판토모나레이디,True,False,NaN,y,n,판토모나여성용
5887,2023-08-18,010-8618-9312,판토모나레이디,True,True,100.0,y,y,판토모나여성용
5888,2023-08-18,010-4048-8531,판토모나레이디,True,True,33.0,y,y,판토모나여성용
5889,2023-08-18,010-3384-1696,판토모나레이디,True,False,NaN,y,n,판토모나여성용
5890,2023-08-18,010-2684-8369,판토모나하이퍼포머,True,True,159.0,y,y,판토모나하이퍼포머
5891,2023-08-18,010-2781-7175,판토모나하이퍼포머,True,False,NaN,y,n,판토모나하이퍼포머
5892,2023-08-18,010-6310-2867,판토모나하이퍼포머,True,True,191.0,y,y,판토모나하이퍼포머
5893,2023-08-18,010-6877-4065,판토모나하이퍼포머,True,True,153.0,y,y,판토모나하이퍼포머
5894,2023-08-18,010-8234-7575,판토모나하이퍼포머,True,False,NaN,y,n,판토모나하이퍼포머
5895,2023-08-18,010-7102-1640,판토모나하이퍼포머,True,False,NaN,y,n,판토모나하이퍼포머
5896,2023-08-18,010-8912-4644,판토모나하이퍼포머,True,True,37.0,y,y,판토모나하이퍼포머
5897,2023-08-18,010-8710-9391,판토모나하이퍼포머,True,True,140.0,y,y,판토모나하이퍼포머
5898,2023-08-18,010-3315-3146,판토모나하이퍼포머,True,False,NaN,y,n,판토모나하이퍼포머
5899,2023-08-18,010-3215-3778,판토모나하이퍼포머,True,False,NaN,y,n,판토모나하이퍼포머
5900,2023-08-18,010-2111-5575,판토모나하이퍼포머,True,False,NaN,y,n,판토모나하이퍼포머
5901,2023-08-18,010-4194-4709,판토모나하이퍼포머,True,True,192.0,y,y,판토모나하이퍼포머
5902,2023-08-18,010-3646-4522,판토모나하이퍼포머,True,True,53.0,y,y,판토모나하이퍼포머
5903,2023-08-18,010-7760-8271,판토모나하이퍼포머,True,True,137.0,y,y,판토모나하이퍼포머
5904,2023-08-18,010-5449-2630,판토모나하이퍼포머,True,False,NaN,y,n,판토모나하이퍼포머
5905,2023-08-18,010-2653-4830,판토모나하이퍼포머,True,False,NaN,y,n,판토모나하이퍼포머
5906,2023-08-18,010-4626-4729,판토모나하이퍼포머,True,True,128.0,y,y,판토모나하이퍼포머
5907,2023-08-18,010-3292-9115,판토모나하이퍼포머,True,True,32.0,y,y,판토모나하이퍼포머
5908,2023-08-18,010-3090-6190,판토모나하이퍼포머,True,True,125.0,y,y,판토모나하이퍼포머
5909,2023-08-18,010-3659-1154,판토모나맨,True,True,134.0,y,y,판토모나남성용
5910,2023-08-18,010-9478-6350,판토모나맨,True,True,19.0,y,y,판토모나남성용
5911,2023-08-18,010-6265-5824,판토모나맨,True,True,16.0,y,y,판토모나남성용
5912,2023-08-18,010-7128-0434,판토모나맨,True,True,143.0,y,y,판토모나남성용
5913,2023-08-18,010-8970-5475,판토모나맨,True,True,18.0,y,y,판토모나남성용
5914,2023-08-18,010-3501-1755,판토모나맨,True,True,179.0,y,y,판토모나남성용
5915,2023-08-18,010-9333-8906,판토모나레이디,True,True,151.0,y,y,판토모나여성용
5916,2023-08-18,010-7186-0715,판토모나레이디,True,False,NaN,y,n,판토모나여성용
5917,2023-08-18,010-8627-6373,판토모나레이디,True,True,223.0,y,y,판토모나여성용
5918,2023-08-18,010-8540-0723,판토모나레이디,True,True,137.0,y,y,판토모나여성용
5919,2023-08-21,010-9304-9002,판토모나하이퍼포머,True,True,140.0,y,y,판토모나하이퍼포머
5920,2023-08-21,010-2536-7137,판토모나하이퍼포머,True,True,47.0,y,y,판토모나하이퍼포머
5921,2023-08-21,010-3177-8618,판토모나하이퍼포머,True,False,NaN,y,n,판토모나하이퍼포머
5922,2023-08-21,010-5882-0122,판토모나하이퍼포머,True,True,39.0,y,y,판토모나하이퍼포머
5923,2023-08-21,010-3468-2795,판토모나하이퍼포머,True,True,70.0,y,y,판토모나하이퍼포머
5924,2023-08-21,010-9535-5776,판토모나하이퍼포머,True,True,34.0,y,y,판토모나하이퍼포머
5925,2023-08-21,010-8954-9134,판토모나하이퍼포머,True,True,117.0,y,y,판토모나하이퍼포머
5926,2023-08-21,010-8818-1962,판토모나하이퍼포머,True,True,39.0,y,y,판토모나하이퍼포머
5927,2023-08-21,010-2013-6526,판토모나하이퍼포머,True,False,NaN,y,n,판토모나하이퍼포머
5928,2023-08-21,010-8569-9258,판토모나하이퍼포머,True,False,NaN,y,n,판토모나하이퍼포머
5929,2023-08-21,010-4930-1610,판토모나하이퍼포머,True,False,NaN,y,n,판토모나하이퍼포머
5930,2023-08-21,010-8627-5230,판토모나하이퍼포머,True,True,34.0,y,y,판토모나하이퍼포머
5931,2023-08-21,010-5374-4983,판토모나하이퍼포머,True,False,NaN,y,n,판토모나하이퍼포머
5932,2023-08-21,010-2276-5920,판토모나하이퍼포머,True,True,154.0,y,y,판토모나하이퍼포머
5933,2023-08-21,010-3730-2066,판토모나하이퍼포머,True,False,NaN,y,n,판토모나하이퍼포머
5934,2023-08-21,010-2317-6802,판토모나하이퍼포머,True,True,130.0,y,y,판토모나하이퍼포머

In [93]:
df_all[['날짜', 'nick', '연락처', 'try_yn', 'success_yn', '통화시간']].to_csv('call_log.csv', encoding='utf-8-sig', index=False)

In [94]:
df_all[df_all['연락처'] == '010-6669-8323']

,날짜,연락처,구매 제품,1차 시도,콜 성공 여부,통화시간,try_yn,success_yn,nick
1429,2023-07-20,010-6669-8323,판토모나H N2,True,False,NaN,y,n,NaN

## 전사 해피콜 작업시트

In [105]:
전사_판토모나 = pd.read_clipboard()

In [106]:
전사_판토모나

           해피콜날짜      구매 제품            연락처 1차 시도     통화시간 콜 성공 여부
0     2023-09-13  판토모나하이퍼포머  010-2354-4373   TRY      NaN     NaN
1     2023-09-13  판토모나하이퍼포머  010-2969-8775   TRY      NaN     NaN
2     2023-09-13  판토모나하이퍼포머  010-4571-4714   TRY  0:05:15       Y
3     2023-09-13  판토모나하이퍼포머  010-9953-2026   TRY  0:03:25       Y
4     2023-09-13  판토모나하이퍼포머  010-6803-4205   TRY  0:03:08       Y
...          ...        ...            ...   ...      ...     ...
3261  2023-10-11    판토모나레이디  010-4529-2730   NaN      NaN     NaN
3262  2023-10-11    판토모나레이디  010-9055-1611   NaN      NaN     NaN
3263  2023-10-11    판토모나레이디  010-4092-9248   NaN      NaN     NaN
3264  2023-10-11    판토모나레이디  010-9473-1692   NaN      NaN     NaN
3265  2023-10-11    판토모나레이디  010-5337-5048   NaN      NaN     NaN

[3266 rows x 6 columns]

In [107]:
전사_써큐시안 = pd.read_clipboard()

In [108]:
전사_써큐시안

          해피콜날짜      구매 제품            연락처 1차 시도     통화시간 콜 성공 여부
0    2023-09-13  써큐시안블러드케어  010-7211-8326   TRY  0:00:19       Y
1    2023-09-13  써큐시안블러드케어  010-5417-7922   TRY  0:02:00       Y
2    2023-09-13  써큐시안블러드케어  010-3170-2927   TRY      NaN     NaN
3    2023-09-13  써큐시안블러드케어  010-4896-3045   TRY      NaN     NaN
4    2023-09-13  써큐시안블러드케어  010-2528-7734   TRY  0:02:10       Y
..          ...        ...            ...   ...      ...     ...
989  2023-10-11  써큐시안블러드케어  010-4448-3355   NaN      NaN     NaN
990  2023-10-11  써큐시안블러드케어  010-7103-5726   NaN      NaN     NaN
991  2023-10-11  써큐시안블러드케어  010-9293-0515   NaN      NaN     NaN
992  2023-10-11  써큐시안블러드케어  010-3585-1390   NaN      NaN     NaN
993  2023-10-11  써큐시안블러드케어  010-2255-7980   TRY      NaN     NaN

[994 rows x 6 columns]

In [110]:
전사_list = [전사_판토모나, 전사_써큐시안]

In [111]:
전사_통합 = pd.concat(전사_list, ignore_index=True)

In [112]:
전사_통합

           해피콜날짜      구매 제품            연락처 1차 시도     통화시간 콜 성공 여부
0     2023-09-13  판토모나하이퍼포머  010-2354-4373   TRY      NaN     NaN
1     2023-09-13  판토모나하이퍼포머  010-2969-8775   TRY      NaN     NaN
2     2023-09-13  판토모나하이퍼포머  010-4571-4714   TRY  0:05:15       Y
3     2023-09-13  판토모나하이퍼포머  010-9953-2026   TRY  0:03:25       Y
4     2023-09-13  판토모나하이퍼포머  010-6803-4205   TRY  0:03:08       Y
...          ...        ...            ...   ...      ...     ...
4255  2023-10-11  써큐시안블러드케어  010-4448-3355   NaN      NaN     NaN
4256  2023-10-11  써큐시안블러드케어  010-7103-5726   NaN      NaN     NaN
4257  2023-10-11  써큐시안블러드케어  010-9293-0515   NaN      NaN     NaN
4258  2023-10-11  써큐시안블러드케어  010-3585-1390   NaN      NaN     NaN
4259  2023-10-11  써큐시안블러드케어  010-2255-7980   TRY      NaN     NaN

[4260 rows x 6 columns]

In [113]:
전사_통합.loc[전사_통합['1차 시도'] == 'TRY', 'try_yn'] = 'y'
전사_통합.loc[전사_통합['1차 시도'] != 'TRY', 'try_yn'] = 'n'

전사_통합.loc[전사_통합['콜 성공 여부'] == 'Y', 'success_yn'] = 'y'
전사_통합.loc[전사_통합['콜 성공 여부'] != 'Y', 'success_yn'] = 'n'`

In [123]:
전사_통합.loc[전사_통합['구매 제품'].str.contains('써큐시안'), 'nick'] = '써큐시안블러드케어'
전사_통합.loc[전사_통합['구매 제품'].str.contains('판토모나맨'), 'nick'] = '판토모나남성용'
전사_통합.loc[전사_통합['구매 제품'].str.contains('판토모나레이디'), 'nick'] = '판토모나여성용'
전사_통합.loc[전사_통합['구매 제품'].str.contains('판토모나하이퍼포머'), 'nick'] = '판토모나하이퍼포머'
전사_통합.loc[전사_통합['구매 제품'] == '판토모나', 'nick'] = '판토모나하이퍼포머'

In [124]:
전사_통합.columns

Index(['해피콜날짜', '구매 제품', '연락처', '1차 시도', '통화시간', '콜 성공 여부', 'try_yn',
       'success_yn', 'hours', 'minutes', 'seconds', 'call_time', 'nick'],
      dtype='object')

In [118]:
전사_통합['통화시간'].fillna('0:00:00', inplace=True)

# 시간 문자열을 시, 분, 초로 분해
전사_통합['hours'] = 전사_통합['통화시간'].str.split(':').str[0].astype(int)
전사_통합['minutes'] = 전사_통합['통화시간'].str.split(':').str[1].astype(int)
전사_통합['seconds'] = 전사_통합['통화시간'].str.split(':').str[2].astype(int)

# 시, 분, 초를 모두 초로 변환하고 합산
전사_통합['call_time'] = 전사_통합['hours'] * 3600 + 전사_통합['minutes'] * 60 + 전사_통합['seconds']

In [122]:
전사_통합[['해피콜날짜', 'nick', '연락처', 'try_yn', 'success_yn', 'call_time']].to_csv('call_log_2.csv', encoding='utf-8-sig', index=False)

In [125]:
전사_통합

,해피콜날짜,구매 제품,연락처,1차 시도,통화시간,콜 성공 여부,try_yn,success_yn,hours,minutes,seconds,call_time,nick
0,2023-09-13,판토모나하이퍼포머,010-2354-4373,TRY,0:00:00,NaN,y,n,0,0,0,0,판토모나하이퍼포머
1,2023-09-13,판토모나하이퍼포머,010-2969-8775,TRY,0:00:00,NaN,y,n,0,0,0,0,판토모나하이퍼포머
2,2023-09-13,판토모나하이퍼포머,010-4571-4714,TRY,0:05:15,Y,y,y,0,5,15,315,판토모나하이퍼포머
3,2023-09-13,판토모나하이퍼포머,010-9953-2026,TRY,0:03:25,Y,y,y,0,3,25,205,판토모나하이퍼포머
4,2023-09-13,판토모나하이퍼포머,010-6803-4205,TRY,0:03:08,Y,y,y,0,3,8,188,판토모나하이퍼포머
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4255,2023-10-11,써큐시안블러드케어,010-4448-3355,NaN,0:00:00,NaN,n,n,0,0,0,0,써큐시안블러드케어
4256,2023-10-11,써큐시안블러드케어,010-7103-5726,NaN,0:00:00,NaN,n,n,0,0,0,0,써큐시안블러드케어
4257,2023-10-11,써큐시안블러드케어,010-9293-0515,NaN,0:00:00,NaN,n,n,0,0,0,0,써큐시안블러드케어
4258,2023-10-11,써큐시안블러드케어,010-3585-1390,NaN,0:00:00,NaN,n,n,0,0,0,0,써큐시안블러드케어
4259,2023-10-11,써큐시안블러드케어,010-2255-7980,TRY,0:00:00,NaN,y,n,0,0,0,0,써큐시안블러드케어